node_modules
**/node_modules

dist
build

.git
.env
npm-debug.log

chrome_profile
**/chrome_profile

server/__pycache__
server/automation/__pycache__
server/automation/tools/__pycache__
**/__pycache__