services:
  - type: web
    name: jobmithra
    env: docker
    plan: free
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: GMAIL_APP_PASSWORD
        sync: false
      - key: SECRET_KEY
        sync: false
